* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.5;
    color: black;
    background-color: antiquewhite;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: deepskyblue;
    text-decoration: none;
}

a:hover {
    color: orange;
}
.logo{
    max-width:200px ;
}
h1{
    text-align: center;
    border: 2px solid deepskyblue;
}